.mt-20 {
  margin-top: 20px !important;
}
.right-content-frame {
  height: 100%;
  overflow: auto;
  position: relative;
}
.top-block {
  border-radius: 0;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  padding: 0 20px;
}
.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.form-horizontal.need-validate-form .form-group {
  position: relative;
  margin-bottom: 21px;
}
.color-warning,
label.error[for] {
  color: #e33;
  margin-bottom: 0;
  white-space: nowrap;
}
.margin-b-10 {
  margin-bottom: 10px !important;
}
.about-user {
  padding: 20px 0;
  background: #eee;
  clear: both;
  width: 80%;
  margin: 0 auto;
}
.import-excel {
  padding: 10px 0 0 0 ;
  width: 80%;
  clear: both;
  overflow: auto;
  margin: 0 auto;
}
.import-excel .excel-box {
  float: right;
}
.import-excel .excel-box label {
  position: relative;
  height: 30px;
  width: 100%;
  display: block;
  cursor: pointer;
}
.import-excel .excel-box label span {
  line-height: 30px;
  text-align: center;
}
.import-excel .excel-box label input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.import-excel button {
  margin-top: 10px;
  display: none;
  float: right;
}
form:after {
  content: '';
  width: 90%;
  height: 1px;
  background: #000;
  margin: 0 auto;
}
.show-total {
  padding: 20px 0 0 120px;
}
.show-total span {
  font-weight: bold;
  font-size: 14px;
  float: left;
  margin-right: 20px;
}
.show-total table {
  min-width: 200px;
  float: left;
}
.show-total table th,
.show-total table tr {
  text-align: center;
}
