.main-container{
    height:calc(100% - 60px);
}
.sidebar-container{
    width: 15%;
    height:100%;
    background:#eee;
    float:left;
    overflow-x:hidden;
    overflow-y:auto;
    border-right:1px solid #ccc;
    box-sizing:border-box;
}
.first-level-list>li{
    border-bottom:1px solid #ccc;
    line-height: 40px;
}
.first-level-list li{
    padding:0 15px;
}
.first-level-list li a{
    color:#337ab7;
    display: block;
    text-decoration: none;
}
.second-level li{
    padding-left:24px;
}
.third-level li{
    padding-left:12px;
}
.second-level,.third-level{
    display:none;
}
.first-level-list li.current>a,.first-level-list li a:hover{
    color:#23527c;
}
.fa{
    margin-right:6px;
}
span.fa{
    float:right;
    line-height: 40px;
}
.fa-mobile{
    font-size: 20px;
    margin-left: -4px;
    margin-right: 4px;
}
.fa-home{
    font-size:16px;
}
.current .toggle-active {
    margin: 0 -15px;
    padding: 0 15px;
    background: rgba(52, 152, 219, 0.22);
}