<form class="anchor-attr attr-form" style="display: none" role="form">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading"><a data-toggle="collapse" data-parent="#anchor" href="#anchor">{{i18n.anchor_setting}}</a>
            </div>
            <div id="anchor" class="panel-collapse collapse">
                <div class="panel-body">
                    <div>
                        <input class="form-control input-sm" name="anchorHash" id="anchorHash"
                               placeholder="{{i18n.anchor_link}}" type="text">
                    </div>
                    <div class="tip">{{i18n.anchor_tip}}</div>

                </div>
            </div>
        </div>
    </div>
</form>