<form class="benefits-attr attr-form" style="display: none" role="form">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading"><a data-toggle="collapse" data-parent="#benefits" href="#benefits">{{i18n.be_setting}}</a>
            </div>
            <div id="benefits" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="tip">{{i18n.be_tip}}</div>
                    <div class="form-group">
                        <span>{{i18n.share_bf}} </span>
                        <input class="form-control input-sm" name="benefitsBeforeImg" id="benefitsBeforeImg"
                               placeholder="{{i18n.share_bf_url}}" type="text">
                    </div>
                    <div class="form-group">
                        <span>{{i18n.share_af}} </span>
                        <input class="form-control input-sm" name="benefitsAfterImg" id="benefitsAfterImg"
                               placeholder="{{i18n.share_af_url}}" type="text">
                    </div>

                    <hr>
                    <div>
                        <span>{{i18n.start_time}} </span>
                        <input class="form-control input-sm" name="benefitsFromDate" id="benefitsFromDate"
                               placeholder="{{i18n.start_time}}" type="text">

                    </div>
                    <hr>
                    <div>
                        <span>{{i18n.end_time}} </span>
                        <input class="form-control input-sm" name="benefitsToDate" id="benefitsToDate"
                               placeholder="{{i18n.end_time}}" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>