<form class="comment-attr attr-form" style="display: none" role="form">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading"><a data-toggle="collapse" data-parent="#comment" href="#comment">{{i18n.comment}}</a>
            </div>
            <div id="comment" class="panel-collapse collapse">
                <div class="panel-body">
                    <div>
                        <span>{{i18n.rollingInterval}}</span>
                        <input class="form-control input-sm" name="timeInterval" id="timeInterval"
                               placeholder="{{i18n.rollingInterval}}" type="number">
                    </div>
                    <hr>
                    <div>
                        <span>{{i18n.commentBgColor}}</span>
                        <input class="form-control input-sm" name="commentBgColor" id="commentBgColor"
                               placeholder="{{i18n.commentBgColor}}" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>