<form class="countdown-attr attr-form" style="display: none" role="form">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading"><a data-toggle="collapse" data-parent="#countdown" href="#countdown">{{i18n.count_setting}}</a>
            </div>
            <div id="countdown" class="panel-collapse collapse">
                <div class="panel-body">
                    <div>
                        <span>{{i18n.start_time}} </span>
                        <input class="form-control input-sm" name="countdownFrom" id="countdownFrom"
                               placeholder="{{i18n.start_time}}" type="text">
                    </div>
                    <hr>
                    <div>
                        <span>{{i18n.end_time}} </span>
                        <input class="form-control input-sm" name="countdownTo" id="countdownTo"
                               placeholder="{{i18n.end_time}}" type="text">
                    </div>
                    <hr>
                    <div>
                        <span>{{i18n.back_img}} </span>
                        <input class="form-control input-sm" name="countdownBg" id="countdownBg"
                               placeholder="{{i18n.back_img}}" type="text">
                    </div>
                    <hr>
                    <div>
                        <span>{{i18n.back_height}} </span>
                        <input class="form-control input-sm" name="countdownHeight" id="countdownHeight"
                               placeholder="{{i18n.back_height}}" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>