<form class="groupon-attr attr-form" style="display: none" role="form">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading"><a data-toggle="collapse" data-parent="#groupon" href="#groupon">{{i18n.groupon_setting}}</a>
            </div>
            <div id="groupon" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="form-group">
                        <label>{{i18n.grouponId}}</label>
                        <input class="form-control input-sm" name="grouponId" placeholder="{{i18n.grouponId}}"
                               type="number">
                        <label>{{i18n.groupon_num}} {{i18n.default_all}}</label>
                        <input class="form-control input-sm" name="grouponNum"
                               placeholder="{{i18n.groupon_num}}" min="1" type="number">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>