<form class="presale-attr attr-form" style="display: none" role="form">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading"><a data-toggle="collapse" data-parent="#presale" href="#presale">{{i18n.presale_setting}}</a>
            </div>
            <div id="presale" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="form-group">
                        <label>{{i18n.presale_num}} {{i18n.default_all}}</label>
                        <input class="form-control input-sm" name="presaleNum"
                               placeholder="{{i18n.presale_num}}" min="1" type="number">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>