<form class="video-attr attr-form" style="display: none" role="form">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading"><a data-toggle="collapse" data-parent="#video" href="#video">{{i18n.video_setting}}</a>
            </div>
            <div id="video" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="form-group">
                        <input class="form-control input-sm" name="videoUrl" id="videoUrl"
                               placeholder="{{i18n.video_link}}" type="text">
                    </div>
                    <div class="form-group">
                        <input class="form-control input-sm" name="videoBackground" id="videoBackground"
                               placeholder="{{i18n.video_bg}}" type="text">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success btn-sm" id="addVideo" type="button">{{i18n.add_video}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>