<form class="win-attr attr-form" style="display: none" role="form">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading"><a data-toggle="collapse" data-parent="#win" href="#win">{{i18n.roster_setting}}</a>
            </div>
            <div id="win" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="form-group">
                        <input class="form-control input-sm" name="redirectUrl" id="win-redirectUrl"
                               placeholder="{{i18n.redirect_url}}" type="text">
                    </div>

                    <table class="table table-bordered win-table">
                        <thead>
                        <tr class="text-center">
                            <td colspan="2">Tab1</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="2"><input class="form-control input-sm winfrom"
                                                   placeholder="{{i18n.start_time}}" type="text"></td>
                        </tr>
                        <tr class="">
                            <td colspan="2"><input class="form-control input-sm winto"
                                                   placeholder="{{i18n.end_time}}" type="text"></td>
                        </tr>
                        <tr class="text-center">
                            <td class="csv-name">{{i18n.NA}}</td>
                            <td colspan="2">
                                <a href="javascript:void(0)" class="addWin" data-csv>{{i18n.add_hot}}</a>


                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered win-table">
                        <thead>
                        <tr class="text-center">
                            <td colspan="2">Tab2</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="2"><input class="form-control input-sm winfrom"
                                                   placeholder="{{i18n.start_time}}" type="text"></td>
                        </tr>
                        <tr class="">
                            <td colspan="2"><input class="form-control input-sm winto"
                                                   placeholder="{{i18n.end_time}}" type="text"></td>
                        </tr>
                        <tr class="text-center">
                            <td class="csv-name">{{i18n.NA}}</td>
                            <td colspan="2">
                                <a href="javascript:void(0)" class="addWin" data-csv>{{i18n.add_hot}}</a>


                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered win-table">
                        <thead>
                        <tr class="text-center">
                            <td colspan="2">Tab3</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="2"><input class="form-control input-sm winfrom"
                                                   placeholder="{{i18n.start_time}}" type="text"></td>
                        </tr>
                        <tr class="">
                            <td colspan="2"><input class="form-control input-sm winto"
                                                   placeholder="{{i18n.end_time}}" type="text"></td>
                        </tr>
                        <tr class="text-center">
                            <td class="csv-name">{{i18n.NA}}</td>
                            <td colspan="2">
                                <a href="javascript:void(0)" class="addWin" data-csv>{{i18n.add_hot}}</a>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered win-table">
                        <thead>
                        <tr class="text-center">
                            <td colspan="2">Tab4</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="2"><input class="form-control input-sm winfrom"
                                                   placeholder="{{i18n.start_time}}" type="text"></td>
                        </tr>
                        <tr class="">
                            <td colspan="2"><input class="form-control input-sm winto"
                                                   placeholder="{{i18n.end_time}}" type="text"></td>
                        </tr>
                        <tr class="text-center">
                            <td class="csv-name">{{i18n.NA}}</td>
                            <td colspan="2">
                                <a href="javascript:void(0)" class="addWin" data-csv>{{i18n.add_hot}}</a>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered win-table">
                        <thead>
                        <tr class="text-center">
                            <td colspan="2">Tab5</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="2"><input class="form-control input-sm winfrom"
                                                   placeholder="{{i18n.start_time}}" type="text"></td>
                        </tr>
                        <tr class="">
                            <td colspan="2"><input class="form-control input-sm winto"
                                                   placeholder="{{i18n.end_time}}" type="text"></td>
                        </tr>
                        <tr class="text-center">
                            <td class="csv-name">{{i18n.NA}}</td>
                            <td colspan="2">
                                <a href="javascript:void(0)" class="addWin" data-csv>{{i18n.add_hot}}</a>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered win-table">
                        <thead>
                        <tr class="text-center">
                            <td colspan="2">Tab6</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="2"><input class="form-control input-sm winfrom"
                                                   placeholder="{{i18n.start_time}}" type="text"></td>
                        </tr>
                        <tr class="">
                            <td colspan="2"><input class="form-control input-sm winto"
                                                   placeholder="{{i18n.end_time}}" type="text"></td>
                        </tr>
                        <tr class="text-center">
                            <td class="csv-name">{{i18n.NA}}</td>
                            <td colspan="2">
                                <a href="javascript:void(0)" class="addWin" data-csv>{{i18n.add_hot}}</a>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered win-table">
                        <thead>
                        <tr class="text-center">
                            <td colspan="2">Tab7</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="2"><input class="form-control input-sm winfrom"
                                                   placeholder="{{i18n.start_time}}" type="text"></td>
                        </tr>
                        <tr class="">
                            <td colspan="2"><input class="form-control input-sm winto"
                                                   placeholder="{{i18n.end_time}}" type="text"></td>
                        </tr>
                        <tr class="text-center">
                            <td class="csv-name">{{i18n.NA}}</td>
                            <td colspan="2">
                                <a href="javascript:void(0)" class="addWin" data-csv>{{i18n.add_hot}}</a>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered win-table">
                        <thead>
                        <tr class="text-center">
                            <td colspan="2">Tab8</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="2"><input class="form-control input-sm winfrom"
                                                   placeholder="{{i18n.start_time}}" type="text"></td>
                        </tr>
                        <tr class="">
                            <td colspan="2"><input class="form-control input-sm winto"
                                                   placeholder="{{i18n.end_time}}" type="text"></td>
                        </tr>
                        <tr class="text-center">
                            <td class="csv-name">{{i18n.NA}}</td>
                            <td colspan="2">
                                <a href="javascript:void(0)" class="addWin" data-csv>{{i18n.add_hot}}</a>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered win-table">
                        <thead>
                        <tr class="text-center">
                            <td colspan="2">Tab9</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="2"><input class="form-control input-sm winfrom"
                                                   placeholder="{{i18n.start_time}}" type="text"></td>
                        </tr>
                        <tr class="">
                            <td colspan="2"><input class="form-control input-sm winto"
                                                   placeholder="{{i18n.end_time}}" type="text"></td>
                        </tr>
                        <tr class="text-center">
                            <td class="csv-name">{{i18n.NA}}</td>
                            <td colspan="2">
                                <a href="javascript:void(0)" class="addWin" data-csv>{{i18n.add_hot}}</a>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered win-table">
                        <thead>
                        <tr class="text-center">
                            <td colspan="2">Tab10</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="2"><input class="form-control input-sm winfrom"
                                                   placeholder="{{i18n.start_time}}" type="text"></td>
                        </tr>
                        <tr class="">
                            <td colspan="2"><input class="form-control input-sm winto"
                                                   placeholder="{{i18n.end_time}}" type="text"></td>
                        </tr>
                        <tr class="text-center">
                            <td class="csv-name">{{i18n.NA}}</td>
                            <td colspan="2">
                                <a href="javascript:void(0)" class="addWin" data-csv>{{i18n.add_hot}}</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</form>