#list { height: calc(100% - 51px); overflow: auto; padding-bottom: 20px; width: 100%; }
.h-100p { height: 100%; }
.gift-tab { border-radius: 0; overflow: hidden; border-bottom: 1px solid #ddd; padding: 0 20px; }
.color-warning,label.error[for] { color: #e33; margin-bottom: 0; white-space: nowrap; }
.download-tmpl { color: #3498db; text-decoration: underline; }
.form-horizontal.need-validate-form .form-group { margin-bottom: 21px; height: 34px; }
.px-30 { padding-left: 30px !important; padding-right: 30px !important; }
.tab-list-item { padding: 13px 12px; float: left; color: #bbb; cursor: pointer; }
.tab-list-item.active { border-bottom: 3px solid #e33; color: #333; }
.ov-h { overflow: hidden !important; }
.ov-auto { overflow: auto !important; }
.pb-0 { padding-bottom: 0 !important; }
.tab-box-item { padding: 0px 12px 15px; float: left; color: #bbb; cursor: pointer; }
.tab-box-item.active { border-bottom: 3px solid #666; color: #333; }
.tab-pane-btn { margin-top: 8px; }
.search-form-wrap { border: 1px solid #cccccc; margin-bottom: 20px; line-height: 42px; padding: 0; }
.search-form-wrap .form-inline { width: 100%; margin-bottom: 0; }
.need-max-width .form-control { max-width: 130px; }
.td-max-width { max-width: 240px; overflow: hidden; text-overflow: ellipsis; margin: auto; }
.search-form-wrap .input-daterange  { width: auto; }
.search-form-wrap #search-btn { margin-right: 30px; padding-left: 30px; padding-right: 30px; background: #696c7e; color: #fff; }
.search-form-wrap .table-layout,.dis-table { display: table; }
.search-form-wrap .table-layout { margin-bottom: 0; }
.v-middle { vertical-align: middle !important; }
.v-middle> tbody > tr > td,.v-middle> thead > tr > th { vertical-align: middle; }
thead > tr > th,.th { background: #efefef; }
.v-top { vertical-align: top; }
.right-content-frame { height: 100%; overflow: auto; position: relative; }
.search-form-wrap .form-group { display: table-cell; }
.search-form-wrap label { margin-bottom: 0; font-weight: 600; }
.dropdown-menu{ position: absolute; }
.search-form-wrap [readonly] { background: #fff; }
.tipsShow { position: absolute; top: 40%; left: 50%; transform: translateX(-50%); border-radius: 15px; color: #fff; background: rgba(55,55,55,.9); padding: 12px 30px; text-align: right; }
.input-file-style { font-size: 12px; transform-origin: left; transform: scale(1.2); margin-top: 15px; }
.data-container { white-space: nowrap; }
.item-input-container { border-top: 1px solid #ddd; border-right: 1px solid #ddd; border-left: 1px solid #ddd; padding-bottom: 10px; text-align: center; }
.item-input-container:last-child { border-right: 0; }
.item-cell-container{ padding: 0 10px; border-top: 1px solid #ddd; }
.item-input { display: block; border: 0; border-bottom: 1px solid #ddd; padding: 0 10px; margin-bottom: 3px; line-height: 34px; width: 100%; }
.b-1 { border: 1px solid #ddd; }
.bt-1 { border-top: 1px solid #ddd; }
.by-1 { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.p-7 { padding: 7px; }
.py-40 { padding-top: 40px; padding-bottom: 40px; }
.mb-0 { margin-bottom: 0 !important; }
.mt-20 { margin-top: 20px !important; }
.px-0 { padding-left: 0 !important; padding-right: 0 !important; }
.px-5 { padding-left: 5px !important; padding-right: 5px !important; }
.table-cell { display: table-cell; }
.scroll-container { max-height: 630px; overflow: auto; }
.relative { position: relative; }
.item-cell-container label.error { display: none !important; }
.item-input.error { border-color: #a94442; }
.br-1 { border-right: 1px solid #ddd; }
.b-0 { border: 0 !important; }
.bb-0 { border-bottom: 0 !important; }
.bb-1 { border-bottom: 1px solid #ddd !important; }
.nowrap {  white-space: nowrap; }
.table-responsive { border-right: 1px solid #ddd; border-left: 1px solid #ddd; }
.item-input-fix { border: 1px solid #ddd; border-radius: 2px;  display: block; padding: 0 10px; margin-bottom: 3px; line-height: 34px; width: 100%;}
.position-bottom { position: absolute; bottom: 0; width: 100%; }
.pb-53 { padding-bottom: 53px; }
table.table.table-bordered { white-space: nowrap; }
table.table.table-bordered .data-container .btn { padding: 6px; }
.modal { margin-top: 35px; }
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td { padding: 6px; }
.submit-data-container textarea{ padding: 0 10px; margin-top: 10px; margin-bottom: 3px; line-height: 26px; width: 100%; white-space: nowrap; }
.submit-data-container .item-input { display: none; }
