<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增App页面配置</title>
    {{> meta}}
    <link rel="stylesheet" href="../../static/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="../../static/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../../static/vendor/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../../static/css/common/reset.css">
    <link rel="stylesheet" href="../../static/vendor/pagination/pagination.css">
    <link rel="stylesheet" href="../../static/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../../static/css/common/global.css">
    <link rel="stylesheet" href="../../static/css/common/header.css">
    <link rel="stylesheet" href="../../static/css/common/sidebar.css">
    <link rel="stylesheet" href="../../static/css/src/create/preview.css">
    <link rel="stylesheet" href="../../static/css/src/ajaxLoading.css">
    <link rel="stylesheet" href="../../static/css/src/app/addPage.css">
</head>
<body data-preview="{{config.preview}}">
{{>header}}
<div class="main-container">
    {{>sidebar}}

    <div class="addAppPage">
        新增App页面配置新增App页面配置新增App页面配置新增App页面配置
    </div>

</div>

<script type="text/javascript" src='../../static/vendor/jquery/jquery.js'></script>
<script type="text/javascript" src='../../static/vendor/jquery-validation/dist/jquery.validate.js'></script>
<script type="text/javascript" src='../../static/vendor/jquery-validation/dist/localization/messages_zh.js'></script>
<script type="text/javascript" src='../../static/vendor/bootstrap/js/bootstrap.min.js'></script>
<script type="text/javascript" src='../../static/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js'></script>
<script type="text/javascript" src='../../static/vendor/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js'></script>
<script type="text/javascript" src='../../static/vendor/pagination/pagination.js'></script>
<script type="text/javascript" src='../../static/js/common/header.js'></script>
<script type="text/javascript" src='../../static/js/common/sidebar.js'></script>
<script type="text/javascript" src='../../static/js/common/footer.js'></script>
<script type="text/javascript" src='../../static/js/common/i18n.js'></script>
<script type="text/javascript" src='../../static/vendor/jquery-qrcode/jquery-qrcode-0.14.0.min.js'></script>
<script type="text/javascript" src='../../static/vendor/artTemplate/template.js'></script>
<script type="text/javascript" src='../../static/js/src/couponManage/common.js'></script>
<script type="text/javascript" src='../../static/js/src/app/addPage.js'></script>

</body>
</html>