<ul id="template">
    <li class="l1 t1 template" data-field="l1">
        <div class="list">
            <div class="img"></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <i class="close-btn">×</i>
    </li>
    <li class="tTopnav template" data-field="topnav">
        {{i18n.top_nav}}
        <i class="close-btn">×</i>
    </li>
    <li class="tSeckill template" data-field="seckill">
        {{i18n.seckill}}
        <i class="close-btn">×</i>
    </li>
    <li class="tVideo template" data-field="video">
        <img src="../../static/img/video.png" alt="">
        <i class="close-btn">×</i>
    </li>
    <li class="tPurchase template" data-field="purchase">
        <div class="psetting">
                    <span>
                        {{i18n.placeorder}}
                    </span>

        </div>
        <i class="close-btn">×</i>
    </li>
    <li class="tCountdown template" data-field="countdown">
        {{i18n.countdown}}
        <i class="close-btn">×</i>
    </li>

    <li class="tAnchor template" data-field="anchor">
        {{i18n.anchor}}
        <i class="close-btn">×</i>
    </li>

    <li class="tFlashsale template" data-field="flashsale">
        {{i18n.flashsale}}
        <i class="close-btn">×</i>
    </li>
    <li class="tBenefits template" data-field="benefits">
        {{i18n.benefits}}
        <i class="close-btn">×</i>
    </li>
    <li class="tWin template" data-field="win">
        {{i18n.roster}}
        <i class="close-btn">×</i>
    </li>
    <li class="tPresale template" data-field="presale">
        {{i18n.presale}}
        <i class="close-btn">×</i>
    </li>
    <li class="tGroupon template" data-field="groupon">
        {{i18n.groupon}}
        <i class="close-btn">×</i>
    </li>
    <li class="tComment template" data-field="comment">
        {{i18n.comment}}
        <i class="close-btn">×</i>
    </li>
    <li class="tLive template" data-field="live">
        {{i18n.live}}
        <i class="close-btn">×</i>
    </li>
    <li class="tSupport template" data-field="support">
        {{i18n.support}}
        <i class="close-btn">×</i>
    </li>
    <li class="tNewcomer simple template" data-field="newcomer">
        {{i18n.newcomer}}
        <i class="close-btn">×</i>
    </li>
    <li class="tNewcomer simple template" data-field="newcomercomment">
        {{i18n.newcomercomment}}
        <i class="close-btn">×</i>
    </li>
    <li class="tNewcomercoupon simple template" data-field="newcomercoupon">
        {{i18n.newcomercoupon}}
        <i class="close-btn">×</i>
    </li>

</ul>