<!DOCTYPE html>
<html lang="en">
<head>
    <title>memebox 秒杀详情</title>
    {{> meta}}
    <link rel="stylesheet" href="/css/build/src/views/market/flashsale/index.css?t=1493261397671" />
</head>
<body data-preview="{{preview}}">
{{> header}}
<div class="main-container">
    {{> sidebar}}
    <div class="flash-sale">
        <top v-ref:top></top>
        <div class="main">
            <span class="title">秒杀组设置</span>
            <div>
                <group v-ref:groups></group>
            </div>
        </div>
    </div>
    {{>ajaxLoading}}
</div>
<script type="text/javascript" src="/js/build/src/views/market/flashsale/index.js?t=1493261397671"></script>
</body>
</html>