<!DOCTYPE html>
<html lang="en">
<head>
    <title>memebox {{i18n.tools}}</title>
    {{> meta}}
    <link rel="stylesheet" href="../../../static/css/common/reset.css">
    <link rel="stylesheet" href="../../../static/css/common/global.css">
    <link rel="stylesheet" href="../../../static/css/common/header.css">
    <link rel="stylesheet" href="../../../static/css/common/sidebar.css">
    <link rel="stylesheet" href="../../../static/vendor/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../../../static/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../../static/vendor/pagination/pagination.css">
    <link rel="stylesheet" href="../../../static/css/src/market/common.css">
    <link rel="stylesheet" href="../../../static/css/src/tools/convert/productid.css">
</head>
<body data-preview="{{preview}}">
{{>header}}
<div class="main-container">
    {{>sidebar}}
    <div class="market-container">
        <div class="breadcrumbs">
            {{i18n.market_tools}} ><span> {{i18n.tools}} ></span><span
                class="high-light">{{i18n.detail_page}}</span>
            <!--<div class="f-r"><a class="btn btn-danger" id="marketSaveBtn">{{i18n.save}}</a></div>-->
        </div>
        <hr>

        <div class="non-empty group prompt-box">
            <label>转换为app可访问url</label>

        </div>
        <select class="form-control input-l" id="type">
            <option value="1">产品id</option>
            <option value="2">活动链接</option>
        </select>
        <input type="text" class="form-control input-l" id="productId">

        <div><a class="btn btn-danger" id="convertId">转换</a></div>
        <div id="out">

        </div>
    </div>
</div>

<script type="text/javascript" src='../../../static/vendor/jquery/jquery.js'></script>
<script type="text/javascript" src='../../../static/vendor/bootstrap/js/bootstrap.min.js'></script>
<script type="text/javascript" src='../../../static/vendor/moment/moment.js'></script>
<script type="text/javascript" src='../../../static/vendor/laydate/laydate.js'></script>
<script type="text/javascript" src='../../../static/vendor/handlebars/handlebars.js'></script>
<script type="text/javascript" src='../../../static/vendor/pagination/pagination.js'></script>
<script type="text/javascript" src='../../../static/js/common/common.js'></script>
<script type="text/javascript" src='../../../static/js/common/header.js'></script>
<script type="text/javascript" src='../../../static/js/common/sidebar.js'></script>
<script type="text/javascript" src='../../../static/js/common/footer.js'></script>
<script type="text/javascript" src='../../../static/js/src/market/common.js'></script>
<script type="text/javascript" src='../../../static/js/src/tools/convert/priductid.js'></script>
</body>
</html>
