<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增App页面配置</title>
    {{> meta}}
    <link rel="stylesheet" href="/css/build/src/views/app/addPage.css?t=1493261397671" />
</head>
<body data-preview="{{config.preview}}">
{{>header}}
<div class="main-container">
    {{>sidebar}}

    <div class="addAppPage">
        新增App页面配置新增App页面配置新增App页面配置新增App页面配置
    </div>

</div>

<script type="text/javascript" src="/js/build/src/views/app/addPage.js?t=1493261397671"></script>
</body>
</html>