<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>memebox{{i18n.appdownload}}</title>
	    {{> meta}}
	
    <link rel='stylesheet' href="/css/build/src/views/app/download.css?t=1493261397671" />
</head>
    <body>
    {{>header}}
    <div class="main-container">
    	{{>sidebar}}
    	<button type="button" class="btn btn-primary add" @click='addChannel()'>{{i18n.add}}</button>
    	<div class="app-download">
    		<table class="table table-bordered table-hover">
	    		<thead>
	    			<th>id</th>
	    			<th>{{i18n.downloadchannel}}</th>
	    			<th>ios</th>
	    			<th>android</th>
	    			<th>wechat</th>
	    			<th>{{i18n.operation}}</th>
	    		</thead>
				<tbody>
					<tr v-for="(index,item) in list">
						<td>${item.id}</td>
						<td><input type="text" value="${item.urlKey}" @input="item.urlKey = $event.target.value"></td>
						<td><input type="text" value="${item.ios}" @input="item.ios = $event.target.value"></td>
						<td><input type="text" value="${item.android}" @input="item.android = $event.target.value"></td>
						<td><input type="text" value="${item.wechat}" @input="item.wechat = $event.target.value"></td>
						<td>
							<button class="btn btn-danger delete-btn" @click='delDownloadSetting(index)'>
								<i class=" fa fa-trash">{{i18n.delete}}</i>
							</button>
							<button class="btn btn-info states-btn update-role" @click="clicked?saveDownloadSetting(index):sth()">
								<i class="fa fa-check">{{i18n.update}}</i>
							</button>
						</td>
					</tr>
				</tbody>
    		</table>
    	</div>
    </div>    
<script type="text/javascript" src="/js/build/src/views/app/download.js?t=1493261397671"></script>
</body>
</html>
