.flash-sale {
  width: 85%;
  padding: 10px;
  float: right;
  height: 100%;
  overflow-y: scroll;
}
.flash-sale tr {
  position: relative;
}
.flash-sale td {
  position: relative;
}
.flash-sale .top {
  overflow: hidden;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.flash-sale .top button {
  float: right;
}
.flash-sale .rule {
  margin-top: 10px;
}
.flash-sale .group {
  position: relative;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  width: calc(100% - 120px);
  display: inline-block;
  border-radius: 5px;
}
.flash-sale .group div {
  margin-bottom: 10px;
}
.flash-sale .group-s {
  width: calc(100% - 120px);
  display: inline-block;
}
.flash-sale .group-s > div {
  padding: 10px 20px 10px 10px ;
}
.flash-sale .group-s div {
  position: relative;
  overflow: hidden;
}
.flash-sale .group-time {
  position: relative;
  border-bottom: 1px solid #ddd;
}
.flash-sale .group-time .close {
  right: 40px;
}
.flash-sale .group-time td .close {
  right: -50px;
  top: 0;
}
.flash-sale .group-m {
  position: relative;
  margin-left: 100px;
}
.flash-sale .group-m .close {
  top: 0;
  right: 20px;
}
.flash-sale .title {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  float: left;
}
.flash-sale .title-s {
  width: 60px;
}
.flash-sale .sku-tab {
  width: 300px;
}
.flash-sale .border-b {
  border-bottom: 1px solid #ddd;
}
.flash-sale .time {
  margin-bottom: 10px;
}
.flash-sale input {
  border-radius: 2px;
  padding: 3px;
  border: 1px solid #ddd;
}
.flash-sale .add-group {
  float: right;
}
.flash-sale .add-time {
  float: right;
}
.flash-sale .add-sku {
  position: absolute;
  bottom: 20px;
  left: 650px;
}
.flash-sale .close {
  position: absolute;
  color: red;
  opacity: 1;
  z-index: 100;
}
