*,
*:after,
*:before {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-user-select: -moz-none;
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.1);
}
li {
  position: relative;
}
#hfiveContainer .header {
  position: fixed;
  width: 100%;
  height: 60px;
  line-height: 40px;
  background: #282828;
  z-index: 9999;
}
.main-container {
  position: relative;
}
.header-group {
  position: absolute;
  top: 0;
  list-style: none;
  right: 0;
  width: 300px;
  background: rgba(0, 0, 0, 0.3);
  height: 60px;
  line-height: 60px;
}
.header-group a i {
  font-size: 18px;
  margin-right: 3px;
  color: #aaa;
}
.header-group a {
  color: #aaa;
  margin-right: 10px;
  line-height: 60px;
  display: block;
}
.header-item li:hover {
  background: #000000;
}
.header-group li:hover {
  background: #000000;
}
.header-group li {
  padding: 0 17px;
  line-height: 60px;
  text-align: center;
  float: left;
  height: 60px;
}
.header-item {
  list-style: none;
  text-align: center;
  margin: 0 auto;
}
.header-item > li {
  display: inline-block;
  zoom: 1;
  height: 60px;
  line-height: 60px;
  vertical-align: top;
  cursor: pointer;
  position: relative;
  padding: 0;
}
.header-item > li > i {
  vertical-align: middle;
  padding: 0 20px;
  font-size: 25px;
}
.header-item > li > i p {
  color: #fff;
  margin: 2px 0 0 0;
  padding: 0;
  font-size: 12px;
}
#hfiveContainer .container {
  position: absolute;
  background: #dddddd;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
}
#hfiveContainer .block-wrapper {
  position: fixed;
  width: 170px;
  top: 60px;
  left: 0;
  background: #e6e6e6;
  z-index: 2;
  border-right: 1px solid #cccccc;
  overflow-y: auto;
  overflow-x: hidden;
  height: 90%;
}
#hfiveContainer .attr-wrapper {
  position: fixed;
  width: 300px;
  right: 0;
  top: 60px;
  background: #ffffff;
  border: 1px solid #ccc;
  overflow-y: auto;
  overflow-x: hidden;
  height: 90%;
}
#hfiveContainer .canvas-wrapper {
  position: absolute;
  left: 50%;
  margin-left: -195px;
  background-color: #fff;
  top: 60px;
  padding: 10px;
  border: 0;
  background-size: cover;
  width: 395px;
  height: 687px;
  box-shadow: 0 1px 10px 1px #AFB2BD;
  overflow-y: auto;
}
.attr-wrapper {
  padding: 15px;
}
.tab-content {
  padding-top: 15px;
}
#canvas {
  width: 100%;
  height: 100%;
}
.link,
.addVideo-cont {
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  background: #ff5073;
  opacity: .7;
  color: #ffffff;
  word-break: break-all;
  text-align: center;
  line-height: 100%;
  box-shadow: 2px 3px 9px #888888;
}
.link-popup {
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  background: #398439;
  opacity: .7;
  color: #ffffff;
  word-break: break-all;
  text-align: left;
  line-height: 100%;
  box-shadow: 2px 3px 9px #888888;
}
.ui-resizable-se {
  width: 0;
  height: 0;
  border-bottom: 10px solid #ffffff;
  border-left: 10px solid transparent;
}
.webuploader-pick {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: #00b7ee;
  padding: 0 10px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
  height: 40px;
  margin-top: 10px;
}
#upload-img {
  height: 60px;
}
.webuploader-element-invisible {
  position: absolute!important;
  clip: rect(1px 1px 1px 1px);
}
.img-wrapper {
  position: absolute;
  width: 245px;
  top: 60px;
  left: 180px;
  bottom: 0;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  min-height: 667px;
  overflow-y: auto;
  z-index: 2;
  overflow-x: hidden;
  padding: 10px;
}
.img-wrapper li {
  list-style: none;
  margin-bottom: 10px;
}
.img-wrapper img {
  width: 100%;
}
.img-wrapper .img-list {
  height: 100%;
}
form {
  clear: both;
  overflow: hidden;
}
.back a {
  height: 60px;
  line-height: 60px;
  display: block;
  color: #fff;
  width: 80px;
  text-align: center;
}
.back a i {
  margin-right: 5px;
}
.img-list .close-btn {
  position: absolute;
  display: block;
  left: 210px;
  top: -10px;
}
.img-list li:hover {
  cursor: pointer;
}
.tip {
  color: #f00;
  font-size: 12px;
}
.tip em {
  font-size: 18px;
  vertical-align: middle;
}
.flash-tab {
  font-weight: bold;
  text-align: center;
}
.remove-table {
  color: red;
}
.win-table {
  position: relative;
}
.win-table .csv-name {
  width: 63%;
}
.win-table input[type=file] {
  opacity: 0;
  position: absolute;
  bottom: 9px;
  width: 33px;
  right: 25px;
}
#winModal {
  margin-top: 40px;
}
html {
  font: 14px Helvetica Neue, Helvetica, Tahoma, Microsoft YaHei, STHeiti, Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 360px) {
  html {
    font: 16px Helvetica Neue, Helvetica, Tahoma, Microsoft YaHei, STHeiti, Arial, Helvetica, sans-serif;
  }
}
.close-btn,
.close-link-btn,
.close-video-btn {
  position: absolute;
  right: -5px;
  top: -5px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: #ff5073;
  color: #ffffff;
  text-align: center;
  line-height: 15px;
  border-radius: 50%;
  display: none;
  cursor: pointer;
}
.canvas-wrapper .close-btn,
.canvas-wrapper .close-link-btn,
.img-wrapper .close-btn,
.canvas-wrapper .close-video-btn {
  display: block;
}
#canvas li.cur {
  box-shadow: 0 0 10px #ff5073;
  z-index: 100;
}
#canvas .tPurchase > div.psetting {
  border: 1px solid #dddddd;
  padding: 5px;
  text-align: center;
}
#canvas .tPurchase > div.psetting span {
  display: inline-block;
}
#canvas .tImg input {
  display: none;
}
#canvas .tCountdown {
  border: 1px solid #dddddd;
  padding: 5px;
  text-align: center;
}
#canvas .tComment {
  border: 1px solid #dddddd;
  padding: 5px;
  text-align: center;
}
#canvas .tVideo {
  border: 1px solid #dddddd;
  text-align: center;
}
#canvas .tAnchor {
  border: 1px solid #dddddd;
  padding: 5px;
  text-align: center;
}
#canvas .tFlashsale {
  border: 1px solid #dddddd;
  padding: 5px;
  text-align: center;
}
#canvas .tBenefits {
  border: 1px solid #dddddd;
  padding: 5px;
  text-align: center;
}
#canvas .tWin {
  border: 1px solid #dddddd;
  padding: 5px;
  text-align: center;
}
#canvas .tPresale {
  border: 1px solid #dddddd;
  padding: 5px;
  text-align: center;
}
#canvas .tGroupon {
  border: 1px solid #dddddd;
  padding: 5px;
  text-align: center;
}
#canvas .tSupport {
  border: 1px solid #dddddd;
  padding: 5px;
  text-align: center;
}
#canvas .tLive {
  border: 1px solid #dddddd;
  padding: 5px;
  text-align: center;
}
#canvas .simple {
  border: 1px solid #dddddd;
  padding: 5px;
  text-align: center;
}
#canvas .tTopnav {
  border: 1px solid #dddddd;
  padding: 5px;
  text-align: center;
}
#canvas .tSeckill {
  border: 1px solid #dddddd;
  padding: 5px;
  text-align: center;
}
#template .t1 {
  margin: 0.9375rem;
}
#template .tImg {
  margin: 0.9375rem;
}
#template .tTopnav {
  margin: 0.9375rem;
  background: #ffffff;
  padding: 0.625rem;
  text-align: center;
}
#template .tSeckill {
  margin: 0.9375rem;
  background: #ffffff;
  padding: 0.625rem;
  text-align: center;
}
#template .tPurchase {
  margin: 0.9375rem;
  background: #ffffff;
  padding: 0.625rem;
}
#template .tPurchase > div.psetting {
  margin: 0;
  text-align: center;
}
#template .tPurchase > div.psetting span {
  display: inline-block;
}
#template .tCountdown {
  margin: 0.9375rem;
  background: #ffffff;
  padding: 0.625rem;
  text-align: center;
}
#template .tComment {
  margin: 0.9375rem;
  background: #ffffff;
  padding: 0.625rem;
  text-align: center;
}
#template .tVideo {
  margin: 0rem;
  padding: 0rem;
  text-align: center;
}
#template .tAnchor {
  margin: 0.9375rem;
  background: #ffffff;
  padding: 0.625rem;
  text-align: center;
}
#template .tFlashsale {
  margin: 0.9375rem;
  background: #ffffff;
  padding: 0.625rem;
  text-align: center;
}
#template .tBenefits {
  margin: 0.9375rem;
  background: #ffffff;
  padding: 0.625rem;
  text-align: center;
}
#template .tWin {
  margin: 0.9375rem;
  background: #ffffff;
  padding: 0.625rem;
  text-align: center;
}
#template .tPresale {
  margin: 0.9375rem;
  background: #ffffff;
  padding: 0.625rem;
  text-align: center;
}
#template .tGroupon {
  margin: 0.9375rem;
  background: #ffffff;
  padding: 0.625rem;
  text-align: center;
}
#template .tSupport {
  margin: 0.9375rem;
  background: #ffffff;
  padding: 0.625rem;
  text-align: center;
}
#template .tLive {
  margin: 0.9375rem;
  background: #ffffff;
  padding: 0.625rem;
  text-align: center;
}
#template .simple {
  margin: 0.9375rem;
  background: #ffffff;
  padding: 0.625rem;
  text-align: center;
}
img {
  max-width: 100%;
}
[data-field] {
  margin: 0.3125rem 0;
}
.t1 {
  position: relative;
}
.t1 .list {
  width: 100%;
  font-size: 0;
}
.t1 .list a {
  color: #333;
}
.t1 .list > div {
  min-height: 5rem;
  width: 49%;
  margin-left: 1%;
  box-shadow: 0 0 0.125rem #ccc;
  display: inline-block;
  vertical-align: top;
  position: relative;
  left: -0.5%;
  margin-bottom: 0.3125rem;
  color: #333;
}
.t1 .list .pro-info {
  padding: 0.5rem;
  font-size: 0.875rem;
}
.t1 .list .pro-info .title {
  height: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.t1 .list .pro-info .price {
  color: #ff5073;
  font-size: 1.125rem;
}
.tImg img {
  width: 100%;
}
.ov2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#topnav {
  padding: 5px;
}
#topnav label {
  width: 100%;
}
#topnav span {
  display: inline-block;
  width: 25%;
}
#topnav input {
  display: inline-block;
  width: 70%;
}
#topnav .fa-close {
  float: right;
}
#newcomercoupon .fa-close {
  float: right;
}
