<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{i18n.userPropertyManage }}</title>
    {{> meta}}
    <link rel="stylesheet" href="/css/build/src/views/questionnaire/user-property-list.css?t=1493261397671" />
</head>
<body data-preview="{{preview}}">
{{>header}}
<div class="main-container">
    {{>sidebar}}
    <div class="right-content-frame">
        <div class="block-nav-top justify-container">
            <h4 class="justify-item">{{i18n.userPropertyManage}}</h4>
            <button type="button" class="btn btn-danger" data-update>{{i18n.save}}{{i18n.update}}</button>
        </div>

        <div class="data-container-wrap">
            <div class="mx-20 mt-20">
                <table class="table table-bordered table-hover v-middle mb-0">
                    <thead>
                        <tr>
                            <th>{{i18n.needUpdateOrNot}}</th>
                            <th>{{i18n.priority}} </th>
                            <th>{{i18n.propertyName}} </th>
                            <th>{{i18n.tagContent}} </th>
                            <th> {{i18n.createTime}} </th>
                            <th>{{i18n.modifyTime}} </th>
                            <th>{{i18n.viewableOrNot}} </th>
                            <th> {{i18n.operation}} </th>
                        </tr>
                    </thead>
                    <tbody class="data-container text-center">
            
                    </tbody>
                </table>
                <script type="text/html" id="user-property-list">
                ${each data}
                    <tr>
                        <td>
                            <label class="checkbox m-0 pl-10">
                                <input type="checkbox" name="needUpdate" id="">{{i18n.update}}
                            </label>
                        </td>
                        <td>
                            <label class="checkbox m-0 pl-10">
                                <input type="number" class="input-60 form-control" name="priority" id="" value="${$value.priority}">
                            </label>
                        </td>
                        <td>
                            <span class="title-text">${$value.title}</span>&nbsp;(${$value.tags.length})
                            <!-- <i data-direction="up" class="fa fa-angle-up fa-lg btn btn-default pull-right"></i> -->
                            <!-- <i data-direction="down" class="fa fa-angle-down fa-lg btn btn-default pull-right"></i> -->
                        </td>
                        <td title="${$value.tagsArr.join(' / ')}">
                            <div class="td-max-width">${$value.tagsArr.join(' / ')}</div>
                        </td>
                        <td>${$value.create_time}</td>
                        <td>${$value.update_time}</td>
                        <td>${data.visibleObj[$value.is_visible]}</td>
                        <td>
                            <button data-stringify="${$value.dataStringify}" data-modal="edit-property-modal" data-toggle="modal" class="btn btn-${if $value.allow_edit == '1'}warning"${else}default" disabled${/if}>
                                <i class=" fa fa-pencil"></i>编辑
                            </button>
                            <button type="button" data-delete-id="${$value.attribute_id}" class="btn btn-${if $value.allow_edit == '1'}danger"${else}default" disabled${/if}>
                                <i class=" fa fa-trash"></i>删除
                            </button>
                        </td>
                    </tr>
                ${/each}
                </script>
            </div>
            <div class="mx-20 mt-20">
                <button class="btn btn-primary" data-modal="add-property-modal" data-toggle="modal">
                    <i class="fa fa-plus"></i>{{i18n.addProperty}}
                </button>
            </div>
        </div>
        {{>ajaxLoading}}
    </div>
</div>
<script type="text/html" id="modal-template">
    <div class="modal fade" id="modal-frame" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="modal-title">${modalTitle}</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal need-validate-form" role="form" data-tags="[]">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="color-warning">*</span>{{i18n.propertyName}}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" zh_en_number="true" name="title" placeholder="请填写属性名称，不超过6个字符" rangelength="2,6" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="color-warning">*</span>{{i18n.questionType}}</label>
                    <div class="radio col-sm-10 pt-0">
                        <label class="control-label">
                            <input type="radio" name="questionType" value="1" checked>{{i18n.radioType}}
                        </label>&nbsp;&nbsp;&nbsp;
                        <label class="control-label">
                            <input type="radio" name="questionType" value="2">{{i18n.checkboxType}}
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{i18n.addQuestionTag}}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" data-event="enter" data-target=".tag-container" name="questionTag" maxlength="8" placeholder="按回车添加多个标签，只能输入中文">
                    </div>
                    <div class="tag-container">
                    </div>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <div class="pull-left checkbox">&nbsp;&nbsp;
                <label>
                    <input class="" type="checkbox" name="is_visible" value="1">用户可见
                 </label>
            </div>
            <button type="button" class="btn btn-default px-30" data-dismiss="modal">{{i18n.cancel}}</button>
            <button type="submit" class="btn btn-primary px-30 modal-submit-btn">${btnName}</button>
          </div>
        </div>
      </div>
    </div>
</script>
<script type="text/html" id="tag-cell-tmpl">
${each data}
    <div class="tag-cell">
        <span data-text='["tag_id": "${$value.tag_id}","tag_title": "${$value.tag_title}"]'>
            ${$value.tag_title}
        </span>&nbsp;
        <i class="fa fa-close" role="button"></i>
    </div>
${/each}
</script>

<script type="text/javascript" src="/js/build/src/views/questionnaire/user-property-list.js?t=1493261397671"></script>
</body>
</html>
