<form class="flashsale-attr attr-form" style="display: none" role="form">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading"><a data-toggle="collapse" data-parent="#flashsale" href="#flashsale">{{i18n.flash_setting}}</a>
            </div>
            <div id="flashsale" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="form-group">
                        <div>顶部颜色</div>
                        <input class="form-control input-sm" name="topColor" id="topColor"
                               placeholder="{{i18n.topColor}}" type="text">
                    </div>
                    <div class="form-group">
                        <div>底色</div>
                        <input class="form-control input-sm" name="flashColor" id="flashColor"
                               placeholder="{{i18n.flashColor}}" type="text">
                    </div>
                    <div class="form-group">
                        <div>tab 颜色</div>
                        <input class="form-control input-sm" name="tabColor" id="tabColor"
                               placeholder="{{i18n.tabColor}}" type="text">
                    </div>
                    <div class="form-group">
                        <div>tab 高亮的颜色</div>
                        <input class="form-control input-sm" name="tabActiveColor" id="tabActiveColor"
                               placeholder="{{i18n.tabActiveColor}}" type="text">
                    </div>
                    <div class="form-group">
                        <div>是否显示左右箭头</div>
                        <input class="form-control input-sm" name="isShowTr" id="isShowTr"
                               type="text">
                        <div class="tip">不填不显示,填1显示</div>
                    </div>
                    <div class="flashsale-table-content">

                    </div>
                    <div>
                        <button type="button" class="btn btn-info addflash">{{i18n.add_hot}}</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>