<form class="live-attr attr-form" style="display: none" role="form">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading"><a data-toggle="collapse" data-parent="#live"
                                          href="#live">{{i18n.live}}</a></div>
            <div id="live" class="panel-collapse collapse">
                <div class="panel-body">

                    <div class="form-group">
                        <input class="form-control input-sm" name="liveLink" id="liveLink"
                               placeholder="{{i18n.liveLink}}" type="text">
                    </div>
                    <div class="form-group">
                        <input class="form-control input-sm" name="liveBg" id="liveBg"
                               placeholder="{{i18n.liveBg}}" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>