<form class="support-attr attr-form" style="display: none;" role="form">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading"><a data-toggle="collapse" data-parent="#support" href="#support">{{i18n.support}}</a>
            </div>
            <div id="support" class="panel-collapse collapse">
                <div class="panel-body">
                    <div>
                        <span>{{i18n.start_time}} </span>
                        <input class="form-control input-sm" name="supportFrom" id="supportFrom"
                               placeholder="{{i18n.start_time}}" type="text">
                    </div>
                    <hr>
                    <div>
                        <span>{{i18n.end_time}} </span>
                        <input class="form-control input-sm" name="supportTo" id="supportTo"
                               placeholder="{{i18n.end_time}}" type="text">
                    </div>
                    <hr>
                    <div>
                        <span>{{i18n.start_pl}} </span>
                        <input class="form-control input-sm" name="startPv" id="supportStartPv"
                               placeholder="{{i18n.start_time}}" type="number">
                    </div>
                    <hr>
                    <div>
                        <span>{{i18n.end_pl}} </span>
                        <input class="form-control input-sm" name="endPv" id="supportEndPv"
                               placeholder="{{i18n.end_time}}" type="number">
                    </div>
                    <hr>
                    <div>
                        <span>{{i18n.gift_pic}}1</span>
                        <input class="form-control input-sm" name="pic1" id="supportPic1"
                               type="text">
                    </div>
                    <hr>
                    <div>
                        <span>{{i18n.gift_pic}}2</span>
                        <input class="form-control input-sm" name="pic2" id="supportPic2"
                               type="text">
                    </div>
                    <hr>
                    <div>
                        <span>{{i18n.gift_pic}}3</span>
                        <input class="form-control input-sm" name="pic3" id="supportPic3"
                               type="text">
                    </div>
                    <hr>
                    <div>
                        <span>{{i18n.gift_pic}}4</span>
                        <input class="form-control input-sm" name="pic4" id="supportPic4"
                               type="text">
                    </div>
                    <hr>
                    <div>
                        <span>{{i18n.gift_pic}}5</span>
                        <input class="form-control input-sm" name="pic5" id="supportPic5"
                               type="text">
                    </div>
                    <hr>
                    <div>
                        <span>{{i18n.fly_height}}</span>
                        <div class="input-group">
                            <input class="form-control input-sm" name="height" id="flyHeight"
                                   type="text" placeholder="默认100">
                            <div class="input-group-addon">PX</div>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <span>{{i18n.background}} </span>
                        <input class="form-control input-sm" name="supportBg" id="supportBg"
                               placeholder="{{i18n.background}}" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>