<!DOCTYPE html>
<html lang="en">
<head>
    <title>memebox pc 列表</title>
    {{> meta}}
    <link rel="stylesheet" href="/css/build/src/views/list/pclist.css?t=1493261397671" />
</head>
<body data-preview="{{preview}}">
{{>header}}
<div class="main-container">
    {{>sidebar}}
    <div id="list">
        <div style="border-bottom: 1px solid #cccccc;margin-bottom: 20px;">
            <form action="{{#backpc d}}{{/backpc}}" class="form-inline" role="form" align="center">
                <div class="form-group">
                    <label for="title">{{i18n.activity_name}}</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="form-group">
                    <label for="url_key">URL</label>
                    <input type="text" class="form-control" id="url_key" name="url_key">
                </div>
                <div class="form-group">
                    <label for="state">{{i18n.page_status}}</label>
                    <select id="state" class="form-control" name="state">
                        <option value="">{{i18n.all}}</option>
                        <option value="1">{{i18n.open}}</option>
                        <option value="0">{{i18n.shut}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="lastOne">{{i18n.lastone}}</label>
                    <input type="text" id="lastOne" class="form-control" name="lastOne">

                </div>
                <input type="hidden" value="{{pageIndex}}">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="{{i18n.search}}" id="search-btn">
                </div>
            </form>
            <a href="/pc/create/{{k}}?d={{d}}" class="btn btn-primary">{{i18n.new_pc}}</a>
        </div>


        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>
                        pc{{i18n.activity_name}}
                    </th>
                    <th>
                        url key
                    </th>
                    <th>{{i18n.page_status}}</th>
                    <th>
                        {{i18n.lastone}}
                    </th>
                    <th>
                        {{i18n.operation}}
                    </th>
                </tr>
                {{#each list}}
                <tr>
                    <td>{{this.dataValues.title}}</td>
                    <td>{{this.dataValues.urlKey}}</td>
                    {{#if this.dataValues.state}}
                    <td class="states"><i class="fa fa-unlock"></i>{{../../i18n.open}}</td>
                    {{else}}
                    <td class="states"><i class="fa fa-lock"></i>{{../../i18n.shut}}</td>
                    {{/if}}
                    <td>{{this.dataValues.lastOne}}</td>
                    <td>
                        <div>
                            {{#if this.state}}
                            <button class="btn btn-success states-btn"
                                    data-id="{{this.dataValues.id}}"
                                    data-state="0"
                                    data-key="{{dataValues.urlKey}}">
                                <i class=" fa fa-power-off"></i>{{../../i18n.shut}}</button>
                            {{else}}
                            <button class="btn btn-success states-btn"
                                    data-id="{{this.dataValues.id}}"
                                    data-state="1"
                                    data-key="{{dataValues.urlKey}}">
                                <i class=" fa fa-check"></i>{{../../i18n.open}}</button>
                            {{/if}}
                            <a class="btn btn-warning" href="/pc/create/{{this.dataValues.urlKey}}?cid={{this.dataValues.id}}&d={{../d}}">
                                <i class=" fa fa-pencil"></i>{{../i18n.edit}}</a>
                            <button class="btn btn-danger delete-btn" data-id="{{this.dataValues.id}}">
                                <i class=" fa fa-trash"></i>{{../i18n.delete}}</button>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
        {{#if list.length}}
        {{else}}
        <div class="alert alert-info" role="alert" align="center">{{i18n.none}}</div>
        {{/if}}

        <div id="pagesObj" style="display: none">
            {{pagesObj.pages}},{{pagesObj.pageSize}},{{pagesObj.total}}
        </div>
        <div id="pagination-container"></div>
    </div>
</div>

<div class="mask">
    <div align="center">
        <p class="alert alert-danger">
            {{i18n.sure_delete}}
        </p>
        <button type="button" class="btn btn-primary btn-lg sure-btn">
            {{i18n.sure}}
        </button>
        <button type="button" class="btn btn-primary btn-lg close-btn">
            {{i18n.cancel}}
        </button>
    </div>
</div>
<script type="text/javascript" src="/js/build/src/views/list/pclist.js?t=1493261397671"></script>
</body>
</html>