<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>memebox事件关系管理面板</title>
    {{> meta}}
    <link rel='stylesheet' href="../../static/css/common/reset.css">
    <link rel='stylesheet' href="../../static/css/common/global.css">
    <link rel='stylesheet' href="../../static/css/common/header.css">
    <link rel='stylesheet' href="../../static/css/common/sidebar.css">
    <!-- <link rel='stylesheet' href="../../static/vendor/datePicker/jquery.datetimepicker.css"> -->
    <link rel='stylesheet' href="../../static/vendor/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../../static/vendor/pagination/pagination.css">
    <link rel='stylesheet' href="../../static/vendor/bootstrap/css/bootstrap.css">
    <link rel='stylesheet' href="../../static/vendor/pagination/pagination.css">
    <link rel='stylesheet' href="../../static/css/src/data/eventSearch.css">
</head>
<body>
{{>header}}
<div class="main-container">

    {{>sidebar}}

    <div class="data-container">
        <div class="title">memebox event search</div>
        <div class="dat param">
            <span>时间</span>
            <input type="text" v-model="dateFrom" placeholder="eg:2017-1-1">
             ~
            <input type="text" v-model="dateTo" placeholder="eg:2017-5-1">
        </div>
        <div class="ver param">
            <span>版本</span>
            <template v-for="(index,client) in clientversions" v-if="index<10">
                <input type="checkbox" :value="client.client_version" v-model="client_version">
                <label :for="client.client_version">${client.client_version}</label>
            </template>
        </div>
        <div class="plt param">
            <span>平台</span>
            <input type="checkbox" value="iOS" v-model="platform">
            <label for="iOS">iOS</label>
            <input type="checkbox" value="android" v-model="platform">
            <label for="android">android</label>
            <input type="checkbox" value="h5" v-model="platform">
            <label for="h5">h5</label>
            <input type="checkbox" value="pc" v-model="platform">
            <label for="pc">pc</label>
            <input type="checkbox" value="wechat" v-model="platform">
            <label for="wechat">wechat</label>
        </div>
        <div class="cha param">
            <span>渠道</span>
            <input type="text" v-model="channel" placeholder="">
        </div>
        <div class="eve param">
            <span>事件名</span>
            <input type="text" placeholder="" @keyup="eventAssociate()" v-model="event_name">
            <ul v-if="associate.length !=0">
                <li v-for="event in associate" @click="choseE(event)">${event.event_name}</li>
            </ul>
        </div>
        <div class="pro param">
            <span class="tit">property</span>
            <span @click="addpro" class="opt">+</span>
            <div v-if="property.length!=0" class="pros">
                <div v-for="(index, pro) in property">
                    <span @click="removepro(index)" class="opt">-</span>
                    <select name="" id="" v-model="pro.preproty">
                        <option v-bind:value="allpro.mapping" v-for="allpro in allpros">${allpro.description}</option>
                    </select>
                    <select name="" id="" v-model="pro.opt">
                        <option value="like">包含</option>
                        <option value="eq">=</option>
                        <option value="noteq">≠</option>
                    </select>
                    <input type="text" v-model="pro.val">
                </div >
            </div>
        </div>
        <div class="search" @click="gosearch()">搜索</div>
        <div class="result ss"></div>
        <div class="result ll" v-if="reports.length > 0">
            <ul>
                <li>日期</li>
                <li>数量</li>
            <template v-for="report in reports">
                <li>${(new Date(report.date).toLocaleString()).split(',')[0]}</li>
                <li>${report.count}</li>
            </template>
            </ul>
        </div>
        <div class="loading" v-if="loading">
            <img src="../../static/img/loadingx.gif" alt="">
        </div>
    </div>
</div>
<script type="text/javascript" src='../../static/vendor/jquery/jquery.js'></script>
<script type="text/javascript" src='../../static/vendor/vue/vue.min.js'></script>
<script type="text/javascript" src='../../static/vendor/echarts/echarts.common.min.js'></script>
<script type="text/javascript" src='../../static/vendor/bootstrap/js/bootstrap.min.js'></script>
<!-- <script type="text/javascript" src='../../static/vendor/datePicker/jquery.datetimepicker.full.min.js'></script> -->
<script type="text/javascript" src='../../static/vendor/pagination/pagination.js'></script>
<script type="text/javascript" src='../../static/js/common/header.js'></script>
<script type="text/javascript" src='../../static/js/common/sidebar.js'></script>
<script type="text/javascript" src='../../static/js/common/footer.js'></script>
<script type="text/javascript" src='../../static/vendor/artTemplate/template.js'></script>
<script type="text/javascript" src='../../static/js/src/data/eventSearch.js'></script>

</body>
</html>
