<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>memebox权限关系管理面板</title>
    {{> meta}}
    <link rel='stylesheet' href="../../../static/css/common/reset.css">
    <link rel='stylesheet' href="../../../static/css/common/global.css">
    <link rel='stylesheet' href="../../../static/css/common/header.css">
    <link rel='stylesheet' href="../../../static/css/common/sidebar.css">
    <link rel='stylesheet' href="../../../static/vendor/font-awesome/css/font-awesome.css">
    <link rel='stylesheet' href="../../../static/vendor/bootstrap/css/bootstrap.css">
    <link rel='stylesheet' href="../../../static/vendor/pagination/pagination.css">
    <link rel='stylesheet' href="../../../static/css/src/admin/action.css">
</head>
<body>
{{>header}}

<div class="main-container">
    {{>sidebar}}

    <div class="action-container">
        <div class="newAction f-r"><button class="btn btn-primary">{{i18n.new_privilege}}</button></div>
        <div>
            <table>
                <colgroup>
                    <col width="30%">
                    <col width="35%">
                    <col width="35%">
                </colgroup>
                <thead>
                <tr>
                    <th>{{i18n.privilege_desc}}</th>
                    <th>{{i18n.privilege_name}}</th>
                    <th>{{i18n.operation}}</th>
                </tr>
                </thead>
                <tbody id="action-body">

                </tbody>
            </table>
            <div id="pagination-container"></div>
        </div>
    </div>
</div>
<script id="action-template" type="text/x-handlebars-template">
    \{{#each .}}
    <tr data-actionid="\{{id}}" data-roles="\{{Roles}}">
        <td>\{{name}}</td>
        <td>\{{action}}</td>
        <td>
            <button class="btn btn-danger delete-btn" data-actionid="\{{id}}" data-roles="\{{Roles}}">
                <i class=" fa fa-trash"></i>{{i18n.delete}}
            </button>
        </td>
    </tr>
    \{{/each}}
</script>
<script id="empty-template" type="text/x-handlebars-template">
    <tr >
        <td><input type="text" class="form-control name-view" /></td>
        <td><input type="text" class="form-control action-name" /></td>
        <td>
            <button class="btn btn-success states-btn" >
                <i class="fa fa-check"></i>{{i18n.save}}
            </button>
        </td>
    </tr>
</script>
<script type="text/javascript" src='../../../static/vendor/jquery/jquery.js'></script>
<script type="text/javascript" src='../../../static/vendor/bootstrap/js/bootstrap.min.js'></script>
<script type="text/javascript" src='../../../static/vendor/handlebars/handlebars.js'></script>
<script type="text/javascript" src='../../../static/vendor/pagination/pagination.js'></script>
<script type="text/javascript" src='../../../static/js/common/header.js'></script>
<script type="text/javascript" src='../../../static/js/common/sidebar.js'></script>
<script type="text/javascript" src='../../../static/js/common/footer.js'></script>
<script type="text/javascript" src='../../../static/js/src/admin/action.js'></script>
</body>
</html>