*,
*:after,
*:before {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.1);
}
li {
  position: relative;
}
#hfiveContainer .header {
  position: fixed;
  width: 100%;
  height: 60px;
  line-height: 40px;
  background: #282828;
  z-index: 9999;
}
.main-container {
  position: relative;
}
.header-group {
  position: absolute;
  top: 0;
  list-style: none;
  right: 0;
  width: 300px;
  background: rgba(0, 0, 0, 0.3);
  height: 60px;
  line-height: 60px;
}
.header-group.pageTip {
  width: 310px;
  color: #fff;
  line-height: 24px;
  padding-top: 6px;
}
.header-group a i {
  font-size: 18px;
  margin-right: 3px;
  color: #aaa;
}
.header-group a {
  color: #aaa;
  margin-right: 10px;
  line-height: 60px;
  display: block;
}
.header-item li:hover {
  background: #000000;
}
.header-group li:hover {
  background: #000000;
}
.header-group li {
  padding: 0 17px;
  line-height: 60px;
  text-align: center;
  float: left;
  height: 60px;
}
.header-item {
  list-style: none;
  text-align: center;
  margin: 0 auto;
}
.header-item > li {
  display: inline-block;
  zoom: 1;
  height: 60px;
  line-height: 60px;
  vertical-align: top;
  cursor: pointer;
  position: relative;
  padding: 0;
}
.header-item > li > i {
  vertical-align: middle;
  padding: 0 20px;
  font-size: 25px;
}
.header-item > li > i p {
  color: #fff;
  margin: 2px 0 0 0;
  padding: 0;
  font-size: 12px;
}
#hfiveContainer .container {
  position: absolute;
  background: #dddddd;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
}
#hfiveContainer .block-wrapper {
  position: fixed;
  width: 280px;
  top: 60px;
  left: 0;
  background: #fff;
  z-index: 2;
  border-right: 1px solid #cccccc;
  overflow-y: auto;
  overflow-x: hidden;
  height: 90%;
}
#hfiveContainer .block-wrapper > ul {
  overflow: hidden;
  padding: 5px;
}
#hfiveContainer .block-wrapper li {
  position: relative;
  padding: 5px;
  height: 165px;
  float: left;
  margin: 6px;
  width: 120px;
  border: 1px solid #ccc;
}
#hfiveContainer .attr-wrapper {
  position: fixed;
  width: 300px;
  right: 0;
  top: 60px;
  background: #ffffff;
  border: 1px solid #ccc;
  overflow-y: auto;
  overflow-x: hidden;
  height: 90%;
}
#hfiveContainer .canvas-wrapper {
  position: absolute;
  left: 50%;
  margin-left: -80px;
  background-color: #fff;
  top: 60px;
  padding: 10px;
  border: 0;
  background-size: cover;
  width: 395px;
  height: 687px;
  box-shadow: 0 1px 10px 1px #AFB2BD;
  overflow-y: auto;
}
.attr-wrapper {
  padding: 15px;
}
.tab-content {
  padding-top: 15px;
}
#canvas {
  width: 100%;
  height: 100%;
}
.link,
.addVideo-cont {
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  background: #ff5073;
  opacity: .7;
  color: #ffffff;
  word-break: break-all;
  text-align: center;
  line-height: 100%;
  box-shadow: 2px 3px 9px #888888;
}
.ui-resizable-se {
  width: 0;
  height: 0;
  border-bottom: 10px solid #ffffff;
  border-left: 10px solid transparent;
}
.webuploader-pick {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: #00b7ee;
  padding: 0 10px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
  height: 40px;
  margin-top: 10px;
}
#upload-img {
  height: 60px;
}
.webuploader-element-invisible {
  position: absolute!important;
  clip: rect(1px 1px 1px 1px);
}
.img-wrapper {
  position: absolute;
  width: 245px;
  top: 60px;
  left: 280px;
  bottom: 0;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  min-height: 667px;
  overflow-y: auto;
  z-index: 2;
  overflow-x: hidden;
  padding: 10px;
}
.img-wrapper li {
  list-style: none;
  margin-bottom: 10px;
}
.img-wrapper img,
.img-wrapper input {
  width: 100%;
}
.img-wrapper .img-list {
  height: 100%;
}
form {
  clear: both;
  overflow: hidden;
}
.back a {
  height: 60px;
  line-height: 60px;
  display: block;
  color: #fff;
  width: 80px;
  text-align: center;
}
.back a i {
  margin-right: 5px;
}
.img-list .close-btn {
  position: absolute;
  display: block;
  left: 210px;
  top: -10px;
}
.teletextItem .form-group .form-control.err {
  border: 1px red solid;
}
.img-list li:hover {
  cursor: pointer;
}
.tip {
  color: #f00;
  font-size: 12px;
}
.tip em {
  font-size: 18px;
  vertical-align: middle;
}
.separate .canvas-img img {
  height: 20px;
}
html {
  font: 14px Helvetica Neue, Helvetica, Tahoma, Microsoft YaHei, STHeiti, Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 360px) {
  html {
    font: 16px Helvetica Neue, Helvetica, Tahoma, Microsoft YaHei, STHeiti, Arial, Helvetica, sans-serif;
  }
}
.close-btn,
.close-link-btn {
  position: absolute;
  right: -5px;
  top: -5px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: #ff5073;
  color: #ffffff;
  text-align: center;
  line-height: 15px;
  border-radius: 50%;
  display: none;
  cursor: pointer;
}
.canvas-wrapper .close-btn,
.canvas-wrapper .close-link-btn,
.img-wrapper .close-btn {
  display: block;
}
#canvas li.cur {
  box-shadow: 0 0 10px #ff5073;
  z-index: 100;
}
#canvas .simple {
  border: 1px solid #dddddd;
  padding: 5px;
  text-align: center;
}
#canvas li {
  border: 1px solid #eee;
}
#canvas li img {
  width: 100%;
}
#template .t1 {
  margin: 0.9375rem;
}
#template .simple {
  margin: 0.9375rem;
  background: #ffffff;
  padding: 0.625rem;
  text-align: center;
}
img {
  max-width: 100%;
}
[data-field] {
  margin: 0.3125rem 0;
}
.ov2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.itemTitle {
  cursor: pointer;
}
.itemBody {
  margin-top: 10px;
}
.form-group > div {
  margin-bottom: 5px;
}
#banner .bannerGroup {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
#banner .bannerItem {
  border: 1px solid #eee;
  padding: 10px;
  margin-top: 10px;
  overflow: inherit;
  position: relative;
}
#banner .bannerItem .itemTitle i.fa {
  float: right;
  margin-top: 5px;
}
#banner .bannerItem .ops {
  margin-top: 10px;
}
#banner .bannerItem .ops .status {
  float: right;
  margin-top: 5px;
}
#banner .bannerItem .ops .shutBanner,
#banner .bannerItem .ops .openBanner {
  width: 100%;
  display: none;
}
#banner .bannerItem .ops .active {
  display: inline-block;
}
#banner .bannerItem select {
  width: 95px;
  height: 30px;
  display: inline-block;
}
#banner .bannerItem .inputWord {
  width: 110px;
  display: inline;
}
#banner .bannerItem .form-group.delIcon {
  position: absolute;
  top: -20px;
  right: -6px;
}
#banner .bannerItem .form-group.delIcon .delBanner {
  width: 18px;
  height: 18px;
  font-size: 16px;
  background: #337ab7;
  color: #ffffff;
  text-align: center;
  line-height: 15px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
}
#banner .addBanner {
  float: right;
}
#icon .iconGroup {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
#icon .iconItem {
  border: 1px solid #eee;
  padding: 10px;
  margin-top: 10px;
}
#icon .iconItem .itemTitle i.fa {
  float: right;
  margin-top: 5px;
}
#icon .iconItem select {
  width: 95px;
  height: 30px;
  display: inline-block;
}
#icon .iconItem .inputWord {
  width: 110px;
  display: inline;
}
#bulletin .bulletinGroup {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
#bulletin .bulletinItem {
  border: 1px solid #eee;
  padding: 10px;
  margin-top: 10px;
  overflow: inherit;
  position: relative;
  /*.startTime,.endTime{
      width: 98px;
      display:inline-block;
    }*/
}
#bulletin .bulletinItem .itemTitle i.fa {
  float: right;
  margin-top: 5px;
}
#bulletin .bulletinItem select {
  width: 95px;
  height: 30px;
  display: inline-block;
}
#bulletin .bulletinItem .inputWord {
  width: 110px;
  display: inline;
}
#bulletin .bulletinItem .ops {
  margin-top: 10px;
}
#bulletin .bulletinItem .ops .status {
  float: right;
  margin-top: 5px;
}
#bulletin .bulletinItem .ops .shutBulletin,
#bulletin .bulletinItem .ops .openBulletin {
  width: 100%;
  display: none;
}
#bulletin .bulletinItem .ops .active {
  display: inline-block;
}
#bulletin .bulletinItem .form-group.delIcon {
  position: absolute;
  top: -20px;
  right: -6px;
}
#bulletin .bulletinItem .form-group.delIcon .delBanner {
  width: 18px;
  height: 18px;
  font-size: 16px;
  background: #337ab7;
  color: #ffffff;
  text-align: center;
  line-height: 15px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
}
#special .specialGroup {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
#special .specialItem {
  border: 1px solid #eee;
  padding: 10px;
  margin-top: 10px;
}
#special .specialItem .itemTitle i.fa {
  float: right;
  margin-top: 5px;
}
#special .specialItem select {
  width: 95px;
  height: 30px;
  display: inline-block;
}
#special .specialItem .inputWord {
  width: 110px;
  display: inline;
}
#discount .discountGroup {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
#discount .commonConf {
  /*select {
       width: 100px;
       height: 30px;
       display:inline-block;
     }
     .inputWord{
       width:115px;
       display:inline;
     }*/
}
#discount .discountItem {
  border: 1px solid #eee;
  padding: 10px;
  margin-top: 10px;
  overflow: inherit;
  position: relative;
}
#discount .discountItem .itemTitle i.fa {
  float: right;
  margin-top: 5px;
}
#discount .discountItem select {
  width: 95px;
  height: 30px;
  display: inline-block;
}
#discount .discountItem .inputWord {
  width: 110px;
  display: inline;
}
#discount .discountItem .ops {
  margin-top: 10px;
}
#discount .discountItem .ops .status {
  float: right;
  margin-top: 5px;
}
#discount .discountItem .ops .shutDiscount,
#discount .discountItem .ops .openDiscount {
  width: 100%;
  display: none;
}
#discount .discountItem .ops .active {
  display: inline-block;
}
#discount .discountItem .form-group.delIcon {
  position: absolute;
  top: -20px;
  right: -6px;
}
#discount .discountItem .form-group.delIcon .delBanner {
  width: 18px;
  height: 18px;
  font-size: 16px;
  background: #337ab7;
  color: #ffffff;
  text-align: center;
  line-height: 15px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
}
#activity .activityGroup {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
#activity .activityItem {
  border: 1px solid #eee;
  padding: 10px;
  margin-top: 10px;
  overflow: inherit;
  position: relative;
  /*.startTime,.endTime{
      width: 98px;
      display:inline-block;
    }*/
}
#activity .activityItem .itemTitle i.fa {
  float: right;
  margin-top: 5px;
}
#activity .activityItem select {
  width: 95px;
  height: 30px;
  display: inline-block;
}
#activity .activityItem .inputWord {
  width: 110px;
  display: inline;
}
#activity .activityItem .ops {
  margin-top: 10px;
}
#activity .activityItem .ops .status {
  float: right;
  margin-top: 5px;
}
#activity .activityItem .ops .shutActivity,
#activity .activityItem .ops .openActivity {
  width: 100%;
  display: none;
}
#activity .activityItem .ops .active {
  display: inline-block;
}
#activity .activityItem .form-group.delIcon {
  position: absolute;
  top: -20px;
  right: -6px;
}
#activity .activityItem .form-group.delIcon .delBanner {
  width: 18px;
  height: 18px;
  font-size: 16px;
  background: #337ab7;
  color: #ffffff;
  text-align: center;
  line-height: 15px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
}
#groupon .commonConf select {
  width: 100px;
  height: 30px;
  display: inline-block;
}
#groupon .commonConf .inputWord {
  width: 115px;
  display: inline;
}
#groupon .grouponItem .tips {
  margin-top: 10px;
  font-size: 12px;
}
#favor .favorItem .tips {
  margin-top: 10px;
  font-size: 12px;
}
#separate .separateItem select {
  width: 95px;
  height: 30px;
  display: inline-block;
}
#separate .separateItem .inputWord {
  width: 110px;
  display: inline;
}
#video .videoGroup {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
#video .videoItem {
  border: 1px solid #eee;
  padding: 10px;
  margin-top: 10px;
  overflow: inherit;
  position: relative;
  /*.startTime,.endTime{
      width: 98px;
      display:inline-block;
    }*/
}
#video .videoItem .itemTitle i.fa {
  float: right;
  margin-top: 5px;
}
#video .videoItem input[name=video_id] {
  width: 158px;
  display: inline-block;
}
#video .videoItem .grayInput {
  background: #ddd;
}
#video .videoItem select {
  width: 95px;
  height: 30px;
  display: inline-block;
}
#video .videoItem .inputWord {
  width: 110px;
  display: inline;
}
#video .videoItem .ops {
  margin-top: 10px;
}
#video .videoItem .ops .status {
  float: right;
  margin-top: 5px;
}
#video .videoItem .ops .shutVideo,
#video .videoItem .ops .openVideo {
  width: 100%;
  display: none;
}
#video .videoItem .ops .active {
  display: inline-block;
}
#video .videoItem .form-group.delIcon {
  position: absolute;
  top: -20px;
  right: -6px;
}
#video .videoItem .form-group.delIcon .delBanner {
  width: 18px;
  height: 18px;
  font-size: 16px;
  background: #337ab7;
  color: #ffffff;
  text-align: center;
  line-height: 15px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
}
.block-wrapper .template {
  height: 150px;
}
.block-wrapper .template .block-img {
  width: 100%;
}
.block-wrapper .template .block-img > div {
  height: 120px;
  line-height: 120px;
  text-align: center;
  padding: 0 10px;
}
.block-wrapper .template .block-img > div img {
  width: 100%;
}
.block-wrapper .template .block-img p {
  text-align: center;
  margin-top: 10px;
}
.block-wrapper .template .canvas-img {
  display: none;
}
.thumbnail {
  margin-bottom: 10px;
}
.red {
  color: red;
  font-size: 18px;
  vertical-align: middle;
}
.block-wrapper .template.favor .block-img > div img {
  width: 75px;
}
.canvas-wrapper .template .block-img {
  display: none;
}
/**图文组件-start**/
.imagetextWrap .teletextGroup {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.imagetextWrap .teletextItem {
  border: 1px solid #eee;
  padding: 10px;
  margin-top: 10px;
  overflow: inherit;
  position: relative;
}
.imagetextWrap .teletextItem .itemTitle i.fa {
  float: right;
  margin-top: 5px;
}
.imagetextWrap .teletextItem select {
  width: 95px;
  height: 30px;
  display: inline-block;
}
.imagetextWrap .teletextItem .inputWord {
  width: 110px;
  display: inline;
}
.imagetextWrap .teletextItem .ops {
  margin-top: 10px;
}
.imagetextWrap .teletextItem .ops .status {
  float: right;
  margin-top: 5px;
}
.imagetextWrap .teletextItem .ops .shutImagetext,
.imagetextWrap .teletextItem .ops .openImagetext {
  width: 100%;
  display: none;
}
.imagetextWrap .teletextItem .ops .active {
  display: inline-block;
}
/**图文组件-end**/
#live .liveGroup {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#live .liveItem {
  padding: 0 10px;
  overflow: inherit;
  position: relative;
}
#live .liveItem .itemTitle i.fa {
  float: right;
  margin-top: 5px;
}
#live .liveItem input[name=liveRoomId] {
  width: 158px;
  display: inline-block;
}
#live .liveItem .grayInput {
  background: #ddd;
}
#live .liveItem select {
  width: 95px;
  height: 30px;
  display: inline-block;
}
#live .liveItem .inputWord {
  width: 110px;
  display: inline;
}
#preview-btn {
  cursor: pointer;
}
.preview-wrapper {
  position: fixed;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}
.preview-container {
  width: 900px;
  height: 646px;
  position: fixed;
  left: 50%;
  margin-left: -450px;
  top: 50%;
  margin-top: -323px;
  padding: 20px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 3px;
}
.preview-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
  overflow: hidden;
  font-size: 16px;
}
.preview-con {
  overflow: hidden;
  padding: 35px 0;
}
.preview {
  float: left;
  width: 340px;
  height: 504px;
  overflow: hidden;
  border: 1px solid #dddddd;
  margin: 0 55px;
}
.preview iframe {
  width: 100%;
  height: 100%;
}
.qr {
  float: left;
  padding-left: 50px;
  line-height: 30px;
  width: 380px;
}
#qrCode {
  margin-top: 20px;
  height: 100%;
}
.qr .p-link {
  margin-top: 20px;
  height: 180px;
}
.qr .p-link p {
  color: green;
  word-break: break-all;
}
.preview-wrapper .close {
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: -5px;
  right: -35px;
  cursor: pointer;
  opacity: 1;
}
.preview-wrapper .close:hover {
  opacity: 0.6;
}
